
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- <div class="container-fluid"> -->
      <a class="navbar-brand" href="#">  <img src="assets/images/logo2jpg.jpg" alt="logo" style="width:60px; height: auto">
        Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-5 mt-lg-2">
          <li class="nav-item active">
            <a  class="nav-link"  routerLink="/Home" routerLinkActive="active">Home</a>
            &nbsp;
            &nbsp;
          </li>
          <li class="nav-item active">
            <a  class="nav-link" routerLink="/products" routerLinkActive="active">products</a>
            &nbsp;
            &nbsp;
          </li>
          <li class="nav-item active">
            <a  class="nav-link"  routerLink="/users" routerLinkActive="active">users</a>
            &nbsp;
            &nbsp;
          </li>  
          <li class="nav-item active">
            <a  class="nav-link"  routerLink="/posts" routerLinkActive="active">posts</a>
            &nbsp;
            &nbsp;
          </li> 
          <li class="nav-item active">
            <a  class="nav-link"  routerLink="/register" routerLinkActive="active">Register</a>
            &nbsp;
            &nbsp;
          </li> 
        <li class="nav-item active">
          <a  class="nav-link"  routerLink="/newregister" routerLinkActive="active">Register2</a>
          &nbsp;
          &nbsp;
        </li> 
          <li class="nav-item active">
            <a  class="nav-link"  routerLink="/login" routerLinkActive="active">Login</a>
            &nbsp;
            &nbsp;
          </li> 
          <li class="nav-item active">
            <a  class="nav-link"  routerLink="/notes" routerLinkActive="active">notes</a>
            &nbsp;
            &nbsp;
          </li> 
           <!-- <button [disabled]="isDisabled">Click Me!</button>   -->
        </ul>
      </div>
    <!-- </div> -->
  </nav> 

  
