<app-header></app-header>
<!-- <app-car></app-car> -->
<!-- <app-products></app-products>
<app-home></app-home>
<app-posts></app-posts>
<app-users></app-users> -->
<!-- <app-datacomponent></app-datacomponent> -->
  <router-outlet></router-outlet>
  <!-- <button type="button" class="btn btn-success" (click)="Display()" >Display products</button>
<table class="table" >
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Av. Quantity</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody *ngIf="!IsPurshased">
      <tr *ngFor="let pro of proo2" >
        <th>{{pro.id}}</th>
        <th>{{pro.name}}</th>
        <th>{{pro.price}} </th>
        <th>{{pro.quantity}}</th>
        <th><img [src] ="pro.img" width="90px"></th>
      </tr>
    </tbody>
  </table> -->
  <app-footer></app-footer>